.modal-header {
    border-bottom: none;
}

.card-overflow {
    position: relative;
    max-height: 500px;
    overflow-y: auto;
    width: 455px;
    right: 45px;
}
.card-overflows {
    position: relative;
    max-height: 450px;
    overflow-y: auto;
    width: 400px;
    right: 15px;
}

.card-body {
    padding: 1.5rem;
}

.settlement-note {
    font-size: 0.875rem;
    color: #6c757d;
    margin-top: 1rem;
    background-color: bisque;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    padding: 10px;
}

.button-group .btn {
    width: 48%;
    background-color: #e6070f;
    color: white;
}

.button-group .btn:hover {
    background-color: #e6070f;
    color: white;
}

.button-group .btn1 {
    width: 48%;
    color: #e6070f;
    border: 2px solid #e6070f;
}

.text-muted a,
.settlement-note a {
    color: #e6070f;
    text-decoration: none;
}

.modal-dialog {
    max-width: 400px;
}

.table-heading{
background-color:  #f1f1f1;
}

.my-table {
    width: 100%;
    border-collapse: collapse;
}

.my-table th, .my-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.my-table th {
    font-weight: bold;
}

.my-table-heading{
    background-color:  #f1f1f1;
    }

.my-table tbody tr:hover {
    background-color: #f1f1f1;
}

.my-table tbody tr:hover {
    background-color: #f1f1f1;
}


